{% extends "master.jinja" %}

{% block master_title %}
Contacts List
{% endblock %}


{% block contents %}
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% if contacts %}
      <ul class="list-group">
        {% for contact in contacts %}
          <li class="list-group-item d-flex justify-content-between">
            <span>{{ contact.name }} {{ contact.surname }}</span>
            <span>{{ contact.phone }}</span>
          </li>
        {% endfor %}
      </ul>
      {% else %}
       <div class="alert alert-info" role="alert">
        Non ci sono contatti nella rubrica.
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2 d-flex justify-content-between">
    {% if contacts %}
      <button type="button" class="btn btn-primary">Esporta in JSON</button>
    {% endif %}
      <a href="/contacts/new" class="btn btn-primary">Nuovo Contatto <i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
  </div>
{% endblock %}
