{% extends "master.jinja" %}

{% block master_title %}
Lista Contatti
{% endblock %}


{% block contents %}
  <div class="row">
    <div class="col-12">
      {% if contacts %}
        <div class="row d-flex justify-content-center">
          {% for contact in contacts %}
          <div class="card m-3 col-3" data-id="{{contact.id}}">
            <div class="card-body d-inline-flex justify-content-between align-items-center">
              <div>
                <h5 class="card-title">{{ contact.name }} {{ contact.surname }}</h5>
                <p class="card-text">{{ contact.phone }}</p>
              </div>
              <button type="button" style="height:fit-content" onclick="deleteContact({{contact.id | safe }})" class="btn btn-danger pull-right"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
          </div>
          {% endfor %}
        </div>
      {% else %}
      <div class="alert alert-info" role="alert">
        Non ci sono contatti nella rubrica.
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-5">
    <div class="btn-group-vertical">
      <a href="/contacts/new" class="btn btn-primary">Nuovo Contatto <i class="fa fa-plus" aria-hidden="true"></i></a>
    {% if contacts %}
      <button type="button" class="btn btn-outline-success" onclick="getJSON()">Esporta in JSON</button>
    {% endif %}
    </div>
  </div>

  {# MODAL FOR JSON REPRESENTATION #}
  <div id="jsonModal" class="modal fade">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Rappresentazione in JSON</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <pre id="jsonOutput"></pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
          <button type="button" id="modal-confirm" class="btn btn-primary" data-dismiss="modal" onclick="downloadJSON()">Scarica</button>
        </div>
      </div>
    </div>
  </div>

  <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>
  <script>
    async function deleteContact(contactId) {
      const deletionConfirmed = confirm('Sei sicuro di voler cancellare questo contatto dalla rubrica?')
      if (!deletionConfirmed) return
      try {
        const response = await fetch(`http://localhost:8080/contacts/delete?id=${contactId}`, { method: 'DELETE' })
        if ((await response.json()).success) {
          const disposableListItem = document.querySelector(`.card[data-id="${contactId}"]`)
          const list = disposableListItem.parentNode
          list.removeChild(disposableListItem)
          if (list.querySelectorAll('.card').length === 0) {
            window.location.href = '/contacts'
          }
        }
      } catch(err) {
        console.log('An error happened while trying to delete record: ' + err)
      }
    }

    function getJSON() {
      fetch(`http://localhost:8080/contacts/json`, { method: 'GET' })
        .then(response => response.json())
        .then(data => {
          $('#jsonModal').modal() // jQuery needed to init Bootstrap modal
          const pre = document.getElementById('jsonOutput')
          pre.textContent = data.json
        })
        .catch(err => console.log('An error happened while trying to export contacts as JSON: ' + err))
    }

    function downloadJSON() {
      const json = document.getElementById('jsonOutput').textContent
      const jFile = new Blob([json], { type: 'application/json'})
      saveAs(jFile, `axant-contacts-${ Date.now() }.json`)
    }
  </script>
{% endblock %}
